body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(30, 37, 43);
}
.logo{
font-size: 22px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0em;
color:rgba(255, 255, 255, 0.9);
display: flex;
align-items: center;
gap: 20px;
margin-right: auto;
}
.nav-list-link{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
color:rgba(255, 255, 255, 0.55);
}
.autorize-list{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
color:rgba(253, 245, 255, 1);
}
.hero-title{
font-size: 50px;
font-weight: 500;
line-height: 70px;
letter-spacing: 0em;
color:rgba(255, 255, 255, 0.9) ;
max-width: 600px;
}
.point{
color: rgba(255, 110, 48, 1);
}
.hero-text{
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.55);
 margin-top: 30px;
 max-width: 487px;
}
.hero-input::placeholder{
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.38)
;
}
.hero-btn{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
color:rgba(255, 255, 255, 1);
width: 130.435px;
height: 48px;
border-radius: 8px;
background: #FF6E30;
margin-left:auto;
}

.brand-title{
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.8);
}
.newcommer-title{
font-size: 48px;
font-weight: 500;
line-height: 62px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.9);
}
.newcommer-text{
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.55);
}
.newcommer-btn{
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
color:rgba(255, 255, 255, 1) ;
}
.newcommer-list-title{
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.78);
}
.newcomer-list-text{
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
color: rgba(255, 165, 55, 0.55);
}
.newcomer-list-text-2{
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.55);
}
.newcomer-list-link{
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 0.55);
}
.testimoal-text{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.015em;
color: rgba(255, 255, 255, )}
.join-title{
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color:rgba(255, 255, 255, 0.9);
    ;
}
.join-text{
font-size: 18px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 255, 255, 0.55);
}
.container{
    max-width: 1224px;
    margin: 0 auto;
}
.hero{
    padding-top: 104px;
    background-image: url("./img/Illustration\ \(1\).png");
    background-repeat: no-repeat;
    background-position:bottom right;
}
.hero-form{
    margin-top: 60px;
    width: 497.659px;
    border-radius: 15px;
border: 1.5px solid rgba(255, 255, 255, 0.10);
background: #283036;
padding: 8px 11px 8px 18px;
display: flex;
align-items: center;

}
.hero-form::before{
    background-image: url("./img/search.jpg");
    width: 24px;
    height: 24px;
    content: "";
    margin-right: 13px;
}
.social-list{
    margin-top: 110px;
}
.header-flex{
    display: flex;
    align-items: center;
    
}
.nav-list{
    display: flex;
    gap: 45px;
}
.atorize-list{
    display: flex;
    margin-left: auto;
    gap: 41px;
}
.header{
    padding-top: 21px;
    padding-bottom: 58px;
}
.atorize-list-btn{
background-color: rgba(255, 110, 48, 1);
width: 118px;
height: 48px;
border-radius: 8px;
color: rgba(253, 245, 255, 1);
font-size: 16px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
}
.hero-input{
    width: 191px;
    height: 21px;
    border: 1.5px;
    background: transparent;
}